  html,
  body {
    font-family: Georgia;
    font-weight: 300;
    height: 100%;
    width: 100%;
    margin: 0;
  }
  
  .scene {
    display: flex;
    flex-flow: row wrap-reverse;
    height: 100%;
    width: 100%;
    background: white;
  }

  .welcome {
    display: flex;
    flex-flow: column nowrap;
  }

  .title {
    font-size: 3rem;
  }
  
  .viewer {
    height: 657px;
    width: 380px;
    background-image: url(skynet_animation.png);
    background-repeat: no-repeat;
    background-position: 0 50%;
  }