  html,
  body {
    font-family: Georgia;
    font-weight: 300;
    height: 100%;
    width: 100%;
    margin: 0;
  }
  
  @font-face {
    font-family: skynet;
    src: url(skynet_font.ttf);
  }

  .scene {
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    background: white;
  }

  .welcome {
    display: flex;
    flex-flow: column wrap;
    flex: 1;
    padding: 20px;
    font-size: 1.2rem;
    color: #333;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }

  .title {
    font-size: 3rem;
    margin-bottom: 20px;
    font-family: skynet;
  }
  
  .viewer {
    height: 657px;
    width: 380px;
    background-image: url(skynet_animation.png);
    background-repeat: no-repeat;
    background-position: 0 50%;
  }

  .buttons {
    display: flex;
    gap: 20px;
    margin-top: auto;
    margin-bottom: 20px;
    align-self: left;
  }

  .service-button,
  .home-button,
  .contact-button,
  .linkedin-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
  }

  @media (max-width: 600px) {
    .scene {
      display: flex;
      flex-flow: column nowrap;
      height: 100%;
      width: 100%;
    }

    .viewer {
      height: 100%;
      margin-left: -30px;
      align-self: center;
    }

    .welcome {
      padding: 0;
    }

    .title {
      font-size: 2rem;
      align-self: center;
    }

    .welcome-text,
    .contact-button {
      display: none;
    }

    .buttons {
      align-self: center;
    }

  }